<odoo>
    <menuitem id="menu_attendance_report_root"
              name="Attendance Reports"
              sequence="10"/>

    <menuitem id="menu_attendance_report"
              name="Daily Attendance"
              parent="menu_attendance_report_root"
              action="action_attendance_report"/>
</odoo>
